<div>

    <a routerLink="home" routerLinkActive="the-chosen-one">Home</a>

    <a routerLink="products" routerLinkActive="the-chosen-one">Products</a>

    <a routerLink="users" routerLinkActive="the-chosen-one">Users</a>

    <a routerLink="add-user" routerLinkActive="the-chosen-one">Add User</a>

    <a routerLink="about" routerLinkActive="the-chosen-one">About</a>

    <a routerLink="contact-us" routerLinkActive="the-chosen-one">Contact Us</a>

    <a routerLink="login" routerLinkActive="the-chosen-one">Login</a>

    <a href="javascript:void" (click)="logout()" routerLinkActive="the-chosen-one">Logout</a>

</div>