<span>Add a:</span>
<select #options (change)="setTypeOption(options.value)">
  <option selected value="company">Company</option>
  <option value="customer">Customer</option>
</select>
<br>
<form #addUserForm="ngForm">

  <br> <span> Id: </span>
  <br>
  <mat-form-field>
    <input matInput required type="number" #idData="ngModel" placeholder="Enter a new id" name="id" [(ngModel)]="newCompany.id ">
  </mat-form-field>
  <span *ngIf="idData?.errors?.required && idData.touched">Missing id...</span>

  <br> <span> Name: </span>
  <br>
  <mat-form-field>
    <input matInput required minlength="3" type="text" #nameData="ngModel" placeholder="Enter a name" name="name"
      [(ngModel)]="newCompany.compName ">
  </mat-form-field>
  <!-- <span *ngIf="nameData?.errors?.required && nameData.touched">Missing name...</span> -->
  <span *ngIf="nameData?.errors?.minlength && nameData.touched">Name too short...</span>

  <br> <span> Password: </span>
  <br>
  <mat-form-field>
    <input matInput required minlength="3" type="text" #passwordData="ngModel" placeholder="Enter a password" name="password"
      [(ngModel)]="passwordData.message ">
  </mat-form-field>
  <!-- <span *ngIf="passwordData?.errors?.required && passwordData.touched">Missing password...</span> -->
  <span *ngIf="passwordData?.errors?.minlength && passwordData.touched">Password too short...</span>


  <div *ngIf="currentTypeOption=='company'">
    <br> <span> Email: </span>
    <br>
    <mat-form-field>
      <input matInput required minlength="4" type="type" #emailData="ngModel" placeholder="Enter an email" name="email"
        [(ngModel)]="newCompany.email ">
    </mat-form-field>
    <span *ngIf="messageData?.errors?.required && messageData.touched">Missing email...</span>
    <span *ngIf="messageData?.errors?.minlength && messageData.touched">Email too short...</span>
  </div>
  <br>
  <button mat-raised-button color="primary" *ngIf="currentTypeOption=='company'" [disabled]="addUserForm.form.invalid"
    (click)="addCompany()">Add Company</button>
  <button mat-raised-button color="primary" *ngIf="currentTypeOption=='customer'" [disabled]="addUserForm.form.invalid"
    (click)="addCustomer()">Add
    Customer</button>
</form>